<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salmon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <receiver android:name="com.example.andrew.salmon.AlarmReceiver" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.andrew.salmon.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.andrew.salmon.randomTimePrompt"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.andrew.salmon.afterCall"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.andrew.salmon.endOfDay"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.andrew.salmon.data"
            android:label="@string/app_name" />

        <receiver
            android:name="com.example.andrew.salmon.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="com.example.andrew.salmon.MyReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
